<h1>EDIT PRODUCT PAGE</h1>
<form action="/admin/add-product" method="post">
  <div class="add-product">
    <input
      value="{{titleValue}}"
      type="text"
      name="title"
      placeholder="title"
    />
    <br />
    <input
      value="{{imgValue}}"
      type="text"
      name="imgURL"
      placeholder="imgURL"
    />
    <br />
    <input
      value="{{descValue}}"
      type="text"
      name="description"
      placeholder="description"
    /><br />
    <input
      value="{{priceValue}}"
      type="text"
      name="price"
      placeholder="price"
    /><br />
    <button type="submit">ADD PRODUCT</button>
  </div>

</form>